body {
    font-family: "Fira Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    align-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2em;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 2em;
}

h1 {
    font-size: 42px;
    text-align: center;
}

pre {
    font-family: Menlo, Monaco, "Lucida Console", "Fira Code", "Courier New", monospace, serif;
    white-space: pre-wrap;
    font-size: 8pt;
}

textarea {
    padding: 0.5rem;
    width: 60em;
    height: 20em;
    display: block;
    vertical-align: top;
    resize: none;
    overflow: scroll;
}

span.label {
    font-weight: bolder;
}


table {
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #999;
    padding: 4px;
    text-align: left;
}

th {
    background-color: lightblue;
}

.tt {
    font-family: Menlo, Monaco, "Lucida Console", "Fira Code", "Courier New", monospace, serif;
}

.ID {
    color: darkorange;
    font-family: Menlo, Monaco, "Lucida Console", "Fira Code", "Courier New", monospace, serif;
}

.red {
    color: red;
}

.timestamp-input {
    font-size: 12pt;
    margin-left: 1em;
    padding-left: 0.25em;
    width: 13em;
}


/*for the fancy slider:*/

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin: 0.5em;
}

.switch input {
    display: inline-block;
}

.slider {
    background-color: #66bb6a;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .2s;
    width: 26px;
}

input:checked + .slider {
    background-color: #ccc;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

