body {
    font-family: "Fira Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    align-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2em;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 2em;
}

h1 {
    font-size: 42px;
    text-align: center;
}

pre {
    font-family: Menlo, Monaco, "Lucida Console", "Fira Code", "Courier New", monospace, serif;
    white-space: pre-wrap;
}

textarea {
    padding: 0.5rem;
    width: 60em;
    height: 20em;
    display: block;
    vertical-align: top;
    resize: none;
    overflow: scroll;
}

span.label {
    font-weight: bolder;
}


table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 3px;
    text-align: left;
}

th {
    background-color: lightblue;
}

.tt {
    font-family: Menlo, Monaco, "Lucida Console", "Fira Code", "Courier New", monospace, serif;
}

.ID {
    color: darkorange;
    font-family: Menlo, Monaco, "Lucida Console", "Fira Code", "Courier New", monospace, serif;
}

.green {
    color: green;
}

.red {
    color: red;
}

